/* /* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.output {
  outline: none;
  border: none;
  width: 320px;
  height: 70px;
  font-size: 32px;
  padding: 2px 3px;
  background: #333333;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: #ffff;
}

button {
  width: 80px;
  height: 90px;
  font-size: 26px;
  cursor: pointer;
  border: none;
  border-top: 1px solid #6666;
  border-right: 1px solid #6666;
}

.operator {
  border-right: none;
  background-color: #fb9419;
  color: #ffff;
} */

/* .product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
}

.card {
  width: 250px;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 6px 5px 10px gray;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
} */

.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
}

.Card {
  width: 250px;
  padding: 16px;
  border-radius: 5px;
  box-shadow: 6px 5px 10px gray;
}

.Card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.navi {
  list-style-type: none;
  display: flex;
  gap: 20px;
  background-color: blue;
  padding: 20px;
}
ul li {
  color: white;
}
