.Wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

button:disabled {
  opacity: 0.6;
}

.Wrapper button {
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 22px;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

button.minus {
  background-color: blue;
}

button.plus {
  background-color: red;
}
